{% extends "core/base.html" %}

{% block content %}

<h1>Here are your communities.</h1>

Welcome, <strong>{{user.username}}.</strong>

<h4>
	<a href = "{% url 'communities:create_post' %}">Create a post.</a>
</h4>

<h4>Recent posts:</h4>

{% for modelPost in listModelPosts %}


	<div class = "div__communities-post">
		<a href = "{% url 'communities:post_detail' modelPost.author.username modelPost.slug %}" class = "p__communities-post-title">
			{{modelPost.title}}
		</a>
		<br>
		<a href = "{% url 'communities:profile' modelPost.author.username %}">
			{{modelPost.author}}
		</a> on {{modelPost.pub_date}}
		<p>{{modelPost.text_content}}</p>
		<p id = "p__post-likes${{modelPost.id}}">{{modelPost.user_likes.count}}</p>

		{% if user in modelPost.user_likes.all %}
			<button  data-url = "{% url 'communities:like_post' modelPost.id %}" class = "btn__like-post btn__like-post--active" id = "btn__like-post${{modelPost.id}}">Like</button>
		{% else %}
			<button  data-url = "{% url 'communities:like_post' modelPost.id %}" class = "btn__like-post" id = "btn__like-post${{modelPost.id}}">Like</button>
		{% endif %}
	</div>
{% endfor %}

{% endblock content %}

{% block javascript %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
	function update_post(strUrl){
		console.log(strUrl);
		let strPostId = strUrl.split('\/').pop();
		let btn = document.getElementById("btn__like-post$" + strPostId)
		let pPostLikes = document.getElementById("p__post-likes$" + strPostId);
		let intCurrrentLikeCount = parseInt(pPostLikes.innerText,10);

		$.ajax({
			url:strUrl,
			success:function(){
				if(btn.classList.contains("btn__like-post--active")){
					// remove
					// --

					intCurrrentLikeCount -= 1;
					btn.classList.remove("btn__like-post--active");
				}
				else{
					// ++
					intCurrrentLikeCount += 1;
					btn.classList.add("btn__like-post--active");
				}
				// update like count
				pPostLikes.innerHTML = intCurrrentLikeCount;
			}
		})
	}
	let arrbtns = document.getElementsByClassName("btn__like-post")

	for(let btn of arrbtns){
		// get the id
		let strUrl = btn.getAttribute("data-url");
		btn.addEventListener("click",()=>{
			update_post(strUrl);
		})
	}

</script>
{% endblock javascript %}

