{% extends "core/base.html" %}

{% block content %}

<h1>Here are your communities.</h1>

Welcome, <strong>{{user.username}}.</strong>

<h4>
	<a href = "{% url 'communities:create_post' %}">Create a post.</a>
</h4>

<h4>Recent posts:</h4>
{% for modelPost in qsetLastFivePosts %}
	<div class = "div__communities-post">
		<p><strong>{{modelPost.author}}</strong> on {{modelPost.pub_date}}</p>
		<p>{{modelPost.text_content}}</p>
		<button id = "btn__like-post">Like post</button>
	</div>
{% endfor %}

{% endblock content %}

{% block javascript %}
<script>
	var btn = document.getElementById("btn__like-post");
	btn.addEventListener("click",()=>{
		alert('post liked');
	})
</script>
{% endblock %}