{% extends 'core/base.html' %}

{% block content %}

<div class = "container border border-primary rounded p-3">
	<div class = "d-flex flex-row">
		<h1>
			<i class="bi bi-award"></i>
		</h1>
		<h1 class = "container text-center">
			Leaderboard
		</h1>
		<h1>
			<i class="bi bi-award"></i>
		</h1>
	</div>
</div>

<br>

<div class = "container border rounded p-3">
	<h3 class = "text-center">
		Weekly Rankings
	</h3>
	<div>
		<div>
			<h4>
				Most Points:
			</h4>
		</div>
		<hr>
		<div>
			<h4>
				Most Users Helped:
			</h4>
		</div>
	</div>
</div>

<br>

<div class = 'container border rounded p-3'>
	<h3 class = "text-center">
		Your Weekly Rankings
	</h3>
	<div>
		<div>
			<h4>
				Points:
			</h4>
		</div>
	</div>
	<hr>
	<div>
		<h4>
			Users Helped
		</h4>
	</div>
</div>

{% endblock %}