{% extends "core/base.html" %}

{% block content %}

<div class = "container border border-primary rounded">
	<h3>You're looking at post "{{modelPost.title}}"</h3>
</div>

<br>

<div class = "container border border-primary rounded">
	<div class = "div__communities-post">
		<strong>Author: </strong>
		<a href = "{% url 'communities:profile' modelPost.author.username %}">
			{{modelPost.author}}
		</a>
		<p>
			{{modelPost.text_content}}
		</p>
	</div>
</div>

<br>

<div class = "container border border-primary rounded">
<h3>Comments:</h3>
	<br>
	<div class = "div__communities-post-comment-container">

		{% for modelComment in listmodelComments %}
			<div class = "div__communities-post-comment" id = "div__communities-post-comment${{modelComment.id}}">
				<strong>Author: </strong><a href = "{% url 'communities:profile' modelComment.author.username %}">{{modelComment.author}}</a>
				<br>
				<strong>Date: </strong>{{modelComment.pub_date}}
				<br>
				{% if modelComment.boolIsReply %}
				<a  href = "{% url 'communities:profile' modelComment.parent.author.username %}">
					@{{modelComment.parent.author}}
				</a>
				{% endif %}
				<div>
					{{modelComment.body|linebreaks}}
				</div>
				<br>
				<div>
					<form style="display:none"  id = "form__comment-reply${{modelComment.id}}" class = "form__comment-forms" action = "{% url 'communities:create_comment' modelPost.author.username modelPost.slug %}" method = "POST">
						{% csrf_token %}
						{{formCommentForm.non_field_errors}}
							{{formCommentForm.body.errors}}
							{{formCommentForm.body}}
						<input type = "hidden" name = "intParentId" value = "{{modelComment.id}}">
						<br>
						<input class = "input__reply-to-comment" data-comment-author = "{{modelComment.author.username}}" type = "submit" value = "Reply">

					</form>
					<button data-id = "{{modelComment.id}}" class = btn__reply-to-comment>
						Reply
					</button>
					{% if modelComment.author == user %}
						<button id = "btn__delete-comment${{modelComment.id}}" class = "btn__delete-comment" data-url = "{% url 'communities:delete_comment' modelComment.id %}">
							Delete?
						</button>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<br>

<div class = "container border border-primary rounded">
	<form id = "form__create-comment" class = "form__comment-forms" method = "POST" action = "{% url 'communities:create_comment' modelPost.author.username modelPost.slug %}" >
		<h3>Create a comment.</h3>
		{% csrf_token %}
		{{formCommentForm.non_field_errors}}
		<div>
			{{formCommentForm.body.errors}}
			{{formCommentForm.body}}
		</div>
		<!-- {{formCommentForm.as_p}} -->
		<input type = "submit" value = "Post" >
	</form>
</div>

{% endblock %}

{% block javascript %}
<script>
	// form submissions redirect to same page
	function update_form_on_submit(form,url){
		form.addEventListener("submit",function(e){
			$.ajax({
				url:url,
				success:function(){
					location.reload();
				}
			})
		});
	}
	
	let arrFormCommentForms = document.getElementsByClassName('form__comment-forms');
	for(let form of arrFormCommentForms){
		update_form_on_submit(form, form.action);
	}


	function delete_comment(strUrl){
		let strCommentId = strUrl.split("\/").pop();
		let strDiv = "div__communities-post-comment$" + strCommentId;
		let divComment = document.getElementById(strDiv);

		$.ajax({
			url:strUrl,
			success:function(){
				location.reload();
			}
		})
	}
	function show_hide_reply_field(btn){
		let strId = btn.getAttribute('data-id');
		let formCommentForm = document.getElementById('form__comment-reply$' + strId);
		if(formCommentForm.style.display == "none"){
			formCommentForm.style.display = "block";
			btn.innerText = "Close reply";
		}
		else{
			formCommentForm.style.display = "none";
			btn.innerText = "Reply";
		}
	}
	function create_comment(strUrl){

	}

	let arrbtnReplyToComments = document.getElementsByClassName('input__reply-to-comment');
	for(let btn of arrbtnReplyToComments){
		btn.addEventListener('click',()=>{
			populate_reply_field(btn);
		});
	}

	let arrbtnReplyComment = document.getElementsByClassName('btn__reply-to-comment');
	for(let btn of arrbtnReplyComment){
		btn.addEventListener('click',()=>{
			show_hide_reply_field(btn);
		})
	}

	let arrbtnDeleteComment = document.getElementsByClassName("btn__delete-comment");
	for(let btn of arrbtnDeleteComment){
		// get the id
		let strUrl = btn.getAttribute('data-url');
		btn.addEventListener("click",()=>{
			delete_comment(strUrl);
		})
	}

</script>
{% endblock javascript %}