{% extends "core/base.html" %}

{% block content %}
<h3>You're looking at post "{{modelPost.title}}"</h3>
<h4>
	Author: 
	<a href = "{% url 'communities:profile' modelPost.author.username %}">
		{{modelPost.author}}
	</a>
</h4>
<p>
	{{modelPost.text_content}}
</p>
<h3>Create a comment.</h3>
<form method = "POST" action = "{% url 'communities:create_comment' modelPost.author.username modelPost.slug %}" >
	{% csrf_token %}
	{{formCommentForm.non_field_errors}}
	<div>
		{{formCommentForm.body.errors}}
		{{formCommentForm.body}}
	</div>
	<!-- {{formCommentForm.as_p}} -->
	<input type = "submit" value = "Post" >
</form>

<h3>Comments:</h3>

{% for modelComment in listmodelComments %}
	<div class = "div__communities-post-comment" id = "div__communities-post-comment${{modelComment.id}}">
		<strong>Author: </strong>{{modelComment.author}}
		<br>
		<strong>Date: </strong>{{modelComment.pub_date}}
		<br>
		{{modelComment.body|linebreaks}}
		<br>

		<div>
			{% if modelComment.replies.count > 0 %}
			<button data-reply-count={{modelComment.replies.count}} data-id = {{modelComment.id}} class = "btn__show-hide-reply">
				See {{modelComment.replies.count}} repl{{modelComment.replies.count|pluralize:"y,ies"}}.
			</button>
			<div style="display:none" id = "div__communities-replies-comment${{modelComment.id}}">
				{% for modelCommentReply in modelComment.replies.all %}
					<div class = "div__communities-post-comment-reply" id = "div__communities-post-comment${{modelCommentReply.id}}">
						<strong>Author:</strong> {{modelCommentReply.author}}
						<br>
						<strong>Date:</strong> {{modelCommentReply.pub_date}}
						<br>
						{{modelCommentReply.body|linebreaks}}
					</div>
				{% endfor %}
			</div>
			{% endif %}
		</div>

		<div>
			<form action = "{% url 'communities:create_comment' modelComment.author modelPost.slug %}" method = "POST">
				{% csrf_token %}
				{{formCommentForm.non_field_errors}}
				<div>
					{{formCommentForm.body.errors}}
					{{formCommentForm.body}}
				</div>
				<input type = "hidden" name = "intParentId" value = "{{modelComment.id}}">
				<input type = "submit" value = "Reply">
			</form>
		</div>
		{% if modelComment.author == user %}
		<button id = "btn__delete-comment${{modelComment.id}}" class = "btn__delete-comment btn btn-danger" data-url = "{% url 'communities:delete_comment' modelComment.id %}">
			Delete?
		</button>
		{% endif %}
	</div>
{% endfor %}

{% endblock %}

{% block javascript %}
<script>
	function update_comment(strUrl){
		let strCommentId = strUrl.split("\/").pop();
		let strDiv = "div__communities-post-comment$" + strCommentId;
		let divComment = document.getElementById(strDiv);
		
		$.ajax({
			url:strUrl,
			success:function(){
				// delete the comment
				// hide it
				divComment.style.display = "none";
			}
		})
	}
	function hide_show_reply(btn){
		let strId = btn.getAttribute('data-id');
		let divId = "div__communities-replies-comment$" + strId;
		let divHideShow = document.getElementById(divId);

		let strReplyCount = btn.getAttribute('data-reply-count');

		if(divHideShow.style.display == "none"){
			divHideShow.style.display = "block";
			btn.innerText = "Close replies";
		}else{
			divHideShow.style.display = "none";
			btn.innerText = "See " + strReplyCount + " replies.";
		}
	}

	let arrbtnShowHideComments = document.getElementsByClassName("btn__show-hide-reply");
	for(let btn of arrbtnShowHideComments){
		btn.addEventListener("click",()=>{
			hide_show_reply(btn);
		});
	}

	let arrbtnDeleteComment = document.getElementsByClassName("btn__delete-comment");
	for(let btn of arrbtnDeleteComment){
		// get the id
		let strUrl = btn.getAttribute('data-url');
		btn.addEventListener("click",()=>{
			update_comment(strUrl);
		})
	}

</script>
{% endblock javascript %}