{% extends "core/base.html" %}

{% block content %}

<div style="align-items:flex-start;" class = "div__users-profile">
	<div style="display:inline-flex" class = "div__users-profile-media">
		<img class = "rounded-circle img__users-profile-img" src = "{{imgProfilePic.url}}">
		<div class = "div__users-profile-media-account">
			<h2 class = "account-heading">
				{{strUsername}}
			</h2>
		</div>

	</div>
</div>

{% if boolIsPodPlusMember %}
<p style="color:rgb(255, 218, 6);font-weight: bolder;">POD+ Member</p>
{% endif %}

<h3>About:</h3>
{{strAbout}}

<h4>Stats:</h4>
<ul>
	<li>
		Joined: {{strDateJoined}}
	</li>
	<li>
		Users helped: {{strUsersHelped}}
	</li>
	<li>
		Days active: {{intDaysActive}}
	</li>
	<li>
		Date joined: {{strDateJoined}}
	</li>
</ul>


{% endblock %}