{% extends "core/base.html" %}

{% block content %}

{% if modelViewedUser == user %}
<div class = "alert alert-primary">
	This is how you appear publicly.
</div>
{% endif %}

<div class = "container border border-primary rounded">
<div style="align-items:flex-start;" class = "div__users-profile">
	<div style="display:inline-flex" class = "div__users-profile-media">
		<img class = "rounded-circle img__users-profile-img" src = "{{modelViewedUser.profile_picture.url}}">
		<div class = "div__users-profile-media-account">
			<h2 class = "account-heading">
				{{modelViewedUser.username}}
			</h2>
			
			<p data-url = "{% url 'communities:add_remove_follow' modelViewedUser.username %}" id = "p__follow-unfollow-user">
			{% if modelViewedUser != user and modelViewedUser in user.follows.all %}
			<span class = "text-danger">
				Unfollow {{modelViewedUser.username}}?
			</span>
			{% elif modelViewedUser != user and modelViewedUser not in user.follows.all %}
			<span class = "text-success">
				Follow {{modelViewedUser.username}}?
			</span>
			{% endif %}
			</p>
		</div>
	</div>
</div>
</div>

<br>

<div class = "container border border-primary rounded">
	<h3>About:</h3>
	<p>
		{{modelViewedUser.text_about}}
	</p>
</div>

<br>

<div class = "container border border-primary rounded">
<h4>Stats:</h4>
<ul>
	<li>
		Joined: {{modelViewedUser.date_joined}}
	</li>
	<li>
		Users helped: {{modelViewedUser.int_users_helped}}
	</li>
	<li>
		Days active: {{modelViewedUser.int_days_active}}
	</li>
</ul>
</div>


{% endblock %}

{% block javascript %}
<script>
	function add_remove_follow(pTag){
		let strUrl = pTag.getAttribute('data-url');
		$.ajax({
			url:strUrl,
			success: function(){
				$("#p__follow-unfollow-user").load(document.URL + ' #p__follow-unfollow-user');
			}
		})

	}

	let pTag = document.getElementById('p__follow-unfollow-user');
	pTag.addEventListener("click",()=>{
		add_remove_follow(pTag);
	})

</script>
{% endblock javascript %}