{% extends "core/base.html" %}
{% load static %}

{% block content %}

<div class = "container border border-primary rounded">
	<h1 class = "text-center">Recommended Podcasts</h1>
</div>

<br>

<div class = "container border border-primary rounded">
	<div class = "container">
		<div class = "row">
			<div class = "col text-center div__podcasts-podcast-thumbnail">
				<a href="#" class = "a__podcasts-podcast-link">
					<img src = "{% static 'core/images/podcasts/podcasts__default-podcast-thumbnail.jpg' %}" style = "width:50%;height:50%;">
					<p> 
						Podcast Title
					</p>
				</a>
			</div>
			<div class = "col text-center div__podcasts-podcast-thumbnail">
				<a href="#" class = "a__podcasts-podcast-link">
					<img src = "{% static 'core/images/podcasts/podcasts__default-podcast-thumbnail.jpg' %}" style = "width:50%;height:50%;">
					<p> 
						Podcast Title
					</p>
				</a>
			</div>
			<div class = "col text-center div__podcasts-podcast-thumbnail">
				<a href="#" class = "a__podcasts-podcast-link">
					<img src = "{% static 'core/images/podcasts/podcasts__default-podcast-thumbnail.jpg' %}" style = "width:50%;height:50%;">
					<p> 
						Podcast Title
					</p>
				</a>
			</div>
		</div>
		<div class = "row">
			<div class = "col text-center div__podcasts-podcast-thumbnail">
				<a href="#" class = "a__podcasts-podcast-link">
					<img src = "{% static 'core/images/podcasts/podcasts__default-podcast-thumbnail.jpg' %}" style = "width:50%;height:50%;">
					<p> 
						Podcast Title
					</p>
				</a>
			</div>
			<div class = "col text-center div__podcasts-podcast-thumbnail">
				<a href="#" class = "a__podcasts-podcast-link">
					<img src = "{% static 'core/images/podcasts/podcasts__default-podcast-thumbnail.jpg' %}" style = "width:50%;height:50%;">
					<p> 
						Podcast Title
					</p>
				</a>
			</div>
			<div class = "col text-center div__podcasts-podcast-thumbnail">
				<a href="#" class = "a__podcasts-podcast-link">
					<img src = "{% static 'core/images/podcasts/podcasts__default-podcast-thumbnail.jpg' %}" style = "width:50%;height:50%;">
					<p> 
						Podcast Title
					</p>
				</a>
			</div>
		</div>
	</div>
</div>

<br>

<div class = "container border border-primary rounded">
	<h2>
		<a href = "#">See previous podcasts.</a>
	</h2>
</div>

<br>

<div class = "container border border-primary rounded">
	<h2>Tips Archive</h2>
</div>


{% endblock content %}