{% extends "core/base.html" %}

{% block content %}

{% include "newsfeed/t/tHelpRequest.html" %}

<br>

<!-- If responded to, display the offer's author -->
{% if modelHelpRequest.boolWasRespondedTo and modelHelpRequestOfferAccepted  %}
	{% if request.user != modelHelpRequestOffer.author %}
	<div class = "container border rounded p-3">
		<p>To be helped by user <strong>{{modelHelpRequest.accepted_user.username}}.</strong></p>
		<a href = "{{modelHelpRequest.accepted_user.get_public_profile_url}}">
			<p>
				View <strong>{{modelHelpRequest.accepted_user.username}}</strong>'s profile.
			</p>
		</a>
		<a href = "{% url 'users:dm-detail' modelHelpRequest.accepted_user %}">
			<p>
				Or direct message them.
			</p>
		</a>
	{% else %}
		<div class = "container border rounded p-3">
			<p>
				You have been chosen to help out.
			</p>
			<a href = "{% url 'users:dm-detail' modelHelpRequest.author %}">
				<p>
					Direct message the author of the help request.
				</p>
			</a>
		</div>
	{% endif %}
		{% if request.user == modelHelpRequest.author %}
		<a href = "{% url 'newsfeed:help-request-offer-reject' user.username modelHelpRequest.slug modelHelpRequestOfferAccepted.id %}" class = 'text-danger'>
			<p>
				Remove user {{modelHelpRequest.accepted_user.username}} from your help request?
			</p>
		</a>
		{% endif %}
	</div>
<!-- else if not the author of request and not responded to, allow offer creation -->
{% elif request.user != modelHelpRequest.author %}
<!-- If not already made offer, allow to make -->
	{% if not modelHelpRequestOffer %}
		<div class = "container border border rounded p-3">
			<h4>Think you can help out?</h4>
			<p class = "text-muted">
				Send a short message.
			</p>
			<div>
				<form method = "POST" action = "{% url 'newsfeed:help-request-offer-create' modelHelpRequest.author.username modelHelpRequest.slug %}">
					{% csrf_token %}
					<textarea name='text' class = "form-control" rows = 4></textarea>
					<small class = "text-muted">
						Write a brief introduction. Let them know why you can help.
					</small>
					<br>
					<br>
					<div class = "container">
						<div class = "row">
							<button type= "submit" class = "btn btn-primary">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
<!-- If made offer, allow to delete / view -->
	{% else %}
		<div class = "container border rounded p-3">
			<h4>You have already created a help request offer.</h4>
			<p>
				If you would like to create a new one, you must 
				<span onclick="voidDeleteHelpRequestOffer(this.id)"  id = "span__help-request-offer-delete" data-url = "{% url 'newsfeed:help-request-offer-delete' modelHelpRequest.author.username modelHelpRequest.slug modelHelpRequestOffer.id %}" class = 'text-danger'>
					delete
				</span> the old one.
			</p>
			<hr>
			<h5>
				Your last created offer:
			</h5>
			{% include 'newsfeed/t/tHelpRequestOfferThumb.html' %}

		</div>
	{% endif %}
{% else %}
<div class = "container border rounded p-3">
	<h4 class = 'text-center'>Your Offers</h4>
	{% if listmodelHelpRequestOffers|length == 0 %}
		<p class = 'text-center'>No offers yet.</p>
	{% else %}
		{% for modelHelpRequestOffer in listmodelHelpRequestOffers %}
			<div class = "container border  rounded p-3">
				<a href = "{{modelHelpRequestOffer.get_absolute_url}}">
					<p>Offer by {{modelHelpRequestOffer.author}} on {{modelHelpRequest.pub_date}}</p>
				</a>
			</div>
		{% endfor %}
	{% endif %}
	</div>
{% endif %}

{% endblock %}

{% block javascript %}
<script>

function voidDeleteHelpRequestOffer(eId){
	// element id = eId of clicker
	let e = document.getElementById(eId);
	let strUrl = e.getAttribute('data-url');
	if(confirm("Are you sure?") == true){
		// delete
		location.href = strUrl;
	}
}

</script>
{% endblock %}
