<div id = "div__notif-help-request-holder">
	<h3 class = "text-center">
		Activity on Your Help Requests
	</h3>
	{% if qsNotifHelpRequests|length == 0 %}
		<p class = "text-center">
			All caught up!
		</p>
	{% else %}
		{% for modelNotifHelpRequest in qsNotifHelpRequests %}
			{% include 'core/t/tNotificationHelpRequest.html' %}
		{% endfor %}
	{% endif %}
	<div class = 'container'>
		<ul class='pagination justify-content-center'>
		{% if qsNotifHelpRequests.has_previous %}
			<li class="mx-1">
				<p class = "text-primary" ajax-url = "{% url 'core:ajax-index-help-requests' intNotifPostPgNum qsNotifHelpRequests.previous_page_number intNotifDmPgNum %}"
				change-url = '{% url "core:index" intNotifPostPgNum qsNotifHelpRequests.previous_page_number intNotifDmPgNum %}'
				onclick = "ajax_update_url(this,'div__notif-help-request-holder')"
				>
					Previous
				</p>
			</li>
		{% else %}
			<li class='mx-1 disabled'>
				<span>
					Previous
				</span>
			</li>
		{% endif %}

		{% for i in qsNotifHelpRequests.paginator.page_range %}
			{% if qsNotifHelpRequests.number == i %}
			<li class='active mx-1'>
				<span class = 'text-success'>
					{{ i }}
				</span>
			</li>
			{% else %}
			<li class="mx-1">
				<p class = 'text-primary' ajax-url = '{% url "core:ajax-index-help-requests" intNotifHrPgNum i intNotifDmPgNum %}'
					change-url='{% url "core:index" intNotifHrPgNum i intNotifDmPgNum %}'
					onclick = "ajax_update_url(this,'div__notif-help-request-holder')"
				>
					{{ i }}
				</p>
			</li>
			{% endif %}
		{% endfor %}
		
		{% if qsNotifHelpRequests.has_next %}
			<li class="mx-1">
				<p  class = "text-primary"
					ajax-url = '{% url "core:ajax-index-help-requests" intNotifHrPgNum qsNotifHelpRequests.next_page_number intNotifDmPgNum %}'
					onclick = "ajax_update_url(this,'div__notif-help-request-holder')"
					change-url='{% url "core:index" intNotifHrPgNum qsNotifHelpRequests.next_page_number intNotifDmPgNum %}'>
						Next
				</p>
			</li>
		{% else %}
			<li class="mx-1">
				<span class='disabled'>
					Next
				</span>
			</li> 
		{% endif %}
		</ul>
	</div>
</div>