<div class = "container border rounded p-3 div__tip-of-day-holder mb-2">
	<div>
		<h6 class = "text-center">
			Tip #{{modelTipOfDay.day_number}}
		</h6>
		<hr>
		<p>
			{{modelTipOfDay.text}}
		</p>
	</div>
	<div>
		{% if request.user.boolViewedTodaysTip %}
		<a href = "{{modelTipOfDay.reverseGetReadUrl}}">
			<button class = "btn btn-outline-success">
				Got it!
			</button>
		</a>
		{% else %}
		<a href = "{% url 'core:tip-archive' %}">
			<p class = 'text-success'>
				See in tip archive.
			</p>
		</a>
		{% endif %}
	</div>
	<div>
		{% if modelTipOfDay.listGetParsedTags %}
			{% for strTag in modelTipOfDay.listGetParsedTags %}
				<span style= "background-color: aliceblue;" class ="rounded mr-3 p-1">
					<a style = "text-decoration: none;">
						{{strTag}}
					</a>
				</span>
			{% endfor %}
		{% else %}
			<p>This tip has no tags associated with it.</p>
		{% endif %}
	</div>
</div>