{% extends "core/base.html" %}

{% block content %}
<div class = "container rounded p-3">
	<div class = "card-header rounded">
		<div class = "text-center">
			Direct Message <strong>{{modelUser}}</strong>
		</div>
	</div>

	<br>

	<div class = "container">
		{% if qsAllDms|length == 0 %}
			<p class = "text-center">Nothing yet!</p>
		{% else %}
			{% for modelDm in qsAllDms %}
				{% if modelDm.sender == user %}
				<div class = "card-body">
					<div class = "d-flex justify-content-between">
						<p class = "small text-muted">{{modelDm.pub_date}}</p>
						<p class = "small">
							<a href = "{{modelDm.sender.get_public_profile_url}}">
								{{modelDm.sender}}
							</a>
						</p>
					</div>
					<div class = "d-flex flew-row justify-content-end">
						<p class = "small p-2 me-3 mb-3 rounded-3" style="background-color: cornsilk;">
							{{modelDm.text}}
						</p>
					</div>
				</div>
				{% else %}
				<div class = "card-body">
					<div class = "d-flex justify-content-between">
						<p class = "small">
							<a href = "{{modelDm.sender.get_public_profile_url}}">
								{{modelDm.sender}}
							</a>
						</p>
						<p class = "small text-muted">{{modelDm.pub_date}}</p>
					</div>
					<div class = "d-flex flew-row justify-content-start">
						<p class = "small p-2 ms-3 mb-3 rounded-3" style="background-color: antiquewhite;">
							{{modelDm.text}}
						</p>
					</div>
				</div>
				{% endif %}
				<br>
			{% endfor %}
		{% endif %}
	</div>
	<div class = "card-footer rounded">
		<form method = "POST" action = "{% url 'users:dm-create' modelUser.username %}">
			{% csrf_token %}
			<div class = "input-group">
				<input autocomplete="off" type="text" class = "col-10 form-control" name = "text" id = "taDmContent" placeholder="Message {{modelUser}}"></textarea>
				<button class = "btn btn-outline-success col-2" type='submit'>
					Send
				</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}