{% extends "core/base.html" %}

{% block content %}
<div class = "container rounded p-3">
	<div class = "card-header rounded">
		<div class = "d-flex justify-content-between mb-0">
			<div>
				<p class = 'mb-0'>
					Messaging <a href = "{{modelOtherUser.get_public_profile_url}}">{{modelOtherUser.username}}</a>
				</p>
			</div>
			<div>
				<p class = 'mb-0'>
					Room: {{strRoomName}}
				</p>
			</div>
		</div>
	</div>

	<br>
	{% include "core/t/dms/dm_list.html" %}

	<div class = "card-footer rounded">
		<form method = "POST" action = "{% url 'newsfeed:help-request-dm-create' strHrAuthorUsername strHrAcceptedUserUsername strRoomName %}">
			{% csrf_token %}
			<div class = "input-group">
				<input autocomplete="off" type="text" class = "col-10 form-control" name = "text" id = "taDmContent" placeholder="Message {{modelUser}}"></textarea>
				<button class = "btn btn-outline-success col-2" type='submit'>
					Send
				</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}