<div class = "container border rounded p-3 mb-2">
	<div>
		<div class = "d-flex flex-row">
			<img style="height:10%;width:10%"  class = "rounded-circle" src = "{{modelComment.author.profile_picture.url}}">
			<div class = "ml-3">
				<p class = "mb-0">
					<a href ="{% url 'communities:profile' modelComment.author.username %}">
						{{modelComment.author}}
					</a>
				</p>
				<p class = "mt-0 text-muted">
					{{modelComment.pub_date}}
				</p>
			</div>
			<hr>
		</div>
		<div class = "container row">
			{% if modelComment.boolIsReply %}
				<a href = "{% url 'communities:profile' modelComment.parent.author.username %}">
					@{{modelComment.parent.author}} &nbsp;
				</a>
			{% endif %}
			<div>
				{{modelComment.text|linebreaks}}
			</div>
		</div>
	</div>
	<form style = "display:none" id = "form__comment-reply${{modelComment.id}}" class = "form__comment-reply" action = "{% url 'communities:comment-create' modelPost.author.username modelPost.slug %}" method = "POST">
		{% csrf_token %}
		{{formCommentForm.non_field_errors}}
			{{formCommentForm.text.errors}}	
			{{formCommentForm.text}}
		<input type = "hidden" name = "intParentId" value = "{{modelComment.id}}">
		<button class = "btn btn-outline-success input__reply-to-comment" data-comment-author="{{modelComment.author.username}}" type="submit">Reply</button>
	</form>
	<div class = "d-flex justify-content-between">
		<p data-id = "{{modelComment.id}}" class = "text-success btn__reply-to-comment">Reply</p>
		{% if modelComment.author == user %}
			<p id = "btn__delete-comment${{modelComment.id}}" class = "text-danger btn__delete-comment" data-url = "{% url 'communities:comment-delete' modelComment.id %}">
				Delete?
			</p>
		{% endif %}
	</div>
</div>