
<div class = "container border border-primary rounded p-3">
	<a href = "{{modelUser.get_public_profile_url}}">
		<div style="align-items:flex-start;" class = "div__users-profile">
			<div style="display:inline-flex" class = "div__users-profile-media">
				<img class = "rounded-circle img__users-profile-img" src = "{{modelUser.profile_picture.url}}">
				<div class = "div__users-profile-media-account">
					<h2 class = "account-heading">
						{{modelUser.username}}
					</h2>
				</div>
			</div>
		</div>
	</a>
</div>
