{% extends "core/base.html" %}


{% block content %}

<div class = "container border border-primary rounded div__home-tip-of-day p-3">
    <h1>About</h1>
</div>

<br>

<div class = "container border border-primary rounded div__home-tip-of-day p-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id delectus eos, repellat quod labore perferendis dicta nihil ullam odit architecto at inventore eum, magnam dolor voluptatibus, porro recusandae veniam repudiandae?
</div>

{% endblock content %}