{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- ChartJS -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
	<!-- SocialPOD custom styles -->
	<link rel="stylesheet" type = "text/css" href = "{% static 'core/style.css' %}">


	{% if strTitle %}
		<title>socialPOD - {{ strTitle }}</title>
	{% else %}
		<title>socialPOD</title>
	{% endif %}
</head>
<body>

<!-- 
Basic navbar to show it is possible
-->
<p>{{ request.build_absolute_uri }}</p>

{% if user.is_developer %}
	<p style = 'color:green'>developer {{user.user_name}}</p>
	<a href = "{% url 'admin:index' %}">
		Administration
	</a>

{% elif user.is_staff %}
	<p style = "color:green">staff {{user.user_name}}</p>
{% endif %}

<nav class="navbar" id = "navbar__main">

	<a class = "navbar-brand" href = "{% url 'core:index' %}">
		<img src = "{% static 'core/images/arnold_school_of_public_health.jpg' %}" alt = "arnold_school_of_public_health.jpg">
	</a>

	<a class = "navbar-text navbar__main__a-tag" href = "{% url 'core:index' %}">
		Home
	</a>

	<a class = "navbar-text navbar__main__a-tag" href = "{% url 'core:about' %}">
		About the Project
	</a>

	{% if user.is_authenticated %}
		<a class = "navbar-text navbar__main__a-tag" href = "{% url 'communities:index' %}">
			Communities
		</a>
		<a class = "navbar-text navbar__main__a-tag" href = "{% url 'newsfeed:index' %}">
			Newsfeed
		</a>
		<a class = "navbar-text navbar__main__a-tag" href = "{% url 'podcasts:index' %}">
			Podcasts
		</a>
		<a class = "navbar-text navbar__main__a-tag" href = "{% url 'users:profile' %}">
			Profile
		</a>
		<a class = "navbar-text navbar__main__a-tag" href = "{% url 'users:logout' %}">
			Logout
		</a>
	{% else %}
		<a class = "navbar-text navbar__main__a-tag" href = "{% url 'users:register' %}">
			Register
		</a>
		<a class = "navbar-text navbar__main__a-tag" href = "{% url 'users:login' %}">
			Login
		</a>
	{% endif %}

</nav>

<!-- If tip of day, display -->
<div id = "core__tip-of-day" class = "alert alert-info rounded m-5" role = "alert">
	<div class = "row">
		<p class = "col-md-6">
			Some good tip about health
		</p>
		<p id = "core__tip-of-day-snooze" class = "col-md-6 text-right">
			Got it!
		</p>
	</div>
</div>

<!-- If messages, display -->
{% if messages %}
	{% for message in messages %}
		<div class = "alert-{{message.tags}}">{{message}}</div>
	{% endfor %}
{% endif %}

<!-- 
	
Load the content from a child page
-->
	
<div class = "div__GLOBAL_CONTENT">
	{% block content %}{% endblock content %}
	

	{% block javascript %}{% endblock javascript %}
</div>

<script>
	function coreTipOfDaySnooze(){
		// to do: snooze the tip for the day
		document.getElementById('core__tip-of-day').style.display = "none";
		$.ajax({

		})
	}
	let pSnoozeTipOfDay = document.getElementById("core__tip-of-day-snooze");

	pSnoozeTipOfDay.addEventListener("click",()=>{
		coreTipOfDaySnooze();
	})
</script>

</body>
</html>