{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- Bootstrap icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

	<!-- ChartJS -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
	<!-- SocialPOD custom styles -->
	<link rel="stylesheet" type = "text/css" href = "{% static 'core/style.css' %}">


	{% if strTitle %}
		<title>socialPOD - {{ strTitle }}</title>
	{% else %}
		<title>socialPOD</title>
	{% endif %}
</head>
<body>

<!-- 
Basic navbar to show it is possible
-->
<p>{{ request.build_absolute_uri }}</p>

<span id = "base__hidden-path-tracker" style = "display:none" data-url = "{{request.get_full_path}}"></span>

{% if user.is_developer %}
	<p style = 'color:green'>developer {{user.user_name}}</p>
	<a href = "{% url 'admin:index' %}">
		Administration
	</a>

{% elif user.is_staff %}
	<p style = "color:green">staff {{user.user_name}}</p>
{% endif %}

<nav class="navbar" id = "navbar__main">
	<div class = "container-fluid">

		<a class = "navbar-header" href = "{% url 'core:about' %}">
			<img src = "{% static 'core/images/core/arnold_school_of_public_health.jpg' %}" alt = "arnold_school_of_public_health.jpg">
		</a>

		{% if user.is_authenticated %}
			<div style="display:grid;">
				<a style="grid-column:1;grid-row:1;" class = "navbar-text navbar__main__a-tag" href = "{% url 'core:index' 1 1 1 %}" data-str = "home">
					Home
				</a>
				<div style = "grid-column-start: 2;grid-row:1;">
					<span style="color:white">
						{{user.get_notification_count}}
					</span>
				</div>
			</div>

			<a class = "navbar-text navbar__main__a-tag" href = "{% url 'communities:index' 1 %}" data-str = "communities">
				Communities
			</a>
			<a class = "navbar-text navbar__main__a-tag" href = "{% url 'newsfeed:index' 1 %}" data-str ="newsfeed" >
				Newsfeed
			</a>
			<a class = "navbar-text navbar__main__a-tag" href = "{% url 'podcasts:index' %}" data-str ="podcasts">
				Podcasts & Tips
			</a>
			<a class = "navbar-text navbar__main__a-tag" href = "{% url 'users:profile' 1 %}" data-str ="users">
				Profile
			</a>
			<a class = "navbar-text navbar__main__a-tag" href = "{% url 'users:logout' %}">
				Logout
			</a>
		{% else %}
			<a class = "navbar-text navbar__main__a-tag" href = "{% url 'users:register' %}">
				Register
			</a>
			<a class = "navbar-text navbar__main__a-tag" href = "{% url 'users:login' %}">
				Login
			</a>
		{% endif %}
	</div>

</nav>

<!-- If messages, display -->
<div id = "div__GLOBAL_CONTENT" class = "spd-transition-in">
	{% if messages %}
		{% for message in messages %}
			<div class = "alert alert-{{message.tags}} base__div-alert">
				<div class = "d-flex justify-content-between">
					<div>
						{{message}}
					</div>
					<div>
						<i class = 'bi bi-x base__i-x-clicker'></i>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}

	{% block content %}{% endblock content %}
	

	{% block javascript %}{% endblock javascript %}
</div>

</body>
</html>

<script>

	function base__removeMsg(){
		let arrdivMsgs = document.getElementsByClassName("base__div-alert");
		for(let divMsg of arrdivMsgs){
			ixClicker = divMsg.getElementsByClassName("base__i-x-clicker")[0];
			ixClicker.addEventListener("click",()=>{
				divMsg.remove();
			})
		}
	}

	function base__updateNavBarCurrentTab(){
		let strCurrUrl = document.getElementById("base__hidden-path-tracker").getAttribute("data-url");
		let strParsedUrl = strCurrUrl.split("/")[1];

		let arrNavbarATags = document.getElementsByClassName("navbar__main__a-tag");
		for(let atag of arrNavbarATags){
			let strTagDataStr = atag.getAttribute("data-str");
			if(strTagDataStr == strParsedUrl){
				atag.style.color = "#868686";
			}
		}
	}
	function base__aTagFadeOut(){
		let arrATags = document.getElementsByTagName("a");
		let div__GLOBAL_CONTENT = document.getElementById("div__GLOBAL_CONTENT");
		
		for(let atag of arrATags){
			atag.addEventListener("click",(e)=>{
				let href = atag.getAttribute("href");
				if(href!= ""){
					e.preventDefault();

					let opacity = 1;
					let timer = setInterval(()=>{
						if(opacity <= 0.1){
							clearInterval(timer);
							div__GLOBAL_CONTENT.style.display = "none";
							window.location = href;
						}
						div__GLOBAL_CONTENT.style.opacity = opacity;
						div__GLOBAL_CONTENT.style.filter = 'alpha(opacity=' + opacity*100 + ")";
						opacity -= opacity * 0.1;
					},10);
				}
			})
		}
	}

	document.addEventListener("DOMContentLoaded",()=>{
		base__aTagFadeOut();
		base__updateNavBarCurrentTab();
		base__removeMsg();
		base__aTagFadeOut();
	})
</script>