{% extends "core/base.html" %}
{% block content %}

<div class = "container border border-primary rounded div__home-tip-of-day">
	Tip of The Day:
	<br>
	{{modelTip}}
</div>

<br>

<div class = "container border border-primary rounded">
	<p>Its a great {{strDayName}}!</p>
</div>

<br>

<div class = "container border border-primary rounded">
	<h5>Notifications</h5>
	<br>
	{% for modelNotification in user.recipient_notification.all %}
	<div class = "container border border-primary rounded">
		Date: {{modelNotification.pub_date}}

		<br>
		{% if modelNotification.sender %}
			Sender: {{modelNotification.sender}}
		{% endif %}
		<div>
			{{modelNotification.message}}
		</div>
		<button id = "btn__delete-notification" data-url="{% url 'core:notification_delete' modelNotification.id %}">
			Got it!
		</button>

	</div>
	{% endfor %}
	<br>
</div>

<br>


{% endblock content %}

{% block javascript %}
<script>
	function delete_notification(strUrl){
		$.ajax({
			url:strUrl,
			success:function(){
				location.reload();
			}
		})
	}
	let btnDeleteNotification = document.getElementById("btn__delete-notification");
	let strUrl = btnDeleteNotification.getAttribute("data-url");
	btnDeleteNotification.addEventListener("click",()=>{
		delete_notification(strUrl);
	})


</script>
{% endblock %}