{% extends "core/base.html" %}
{% block content %}

{% if modelTipOfDay %}
	<div class = "container border rounded p-3">
		<h4 class = "text-center">
			Tip of the day for {{strDate}}
		</h4>

	{% include 'core/t/tips/tTipIndex.html' %}
	</div>

	<br>
{% endif %}


<div class = "container border rounded p-3">
	{% include 'core/t/index_posts.html' %}
</div>

<br>

<div class = "container border rounded p-3">
	{% include 'core/t/index_help_requests.html' %}
</div>
{% endblock content %}

{% block javascript %}

<script>

	function ajax_update_url(e,strDivName){
		page = e.getAttribute('page');
		// url for ajax call
		strAjaxUrl = e.getAttribute('ajax-url');
		// url to change page to
		strChangeUrl = e.getAttribute('change-url');
		// get the div to update
		let divHolder = document.getElementById(strDivName);
		console.log(divHolder);

		$.ajax({
			type:"GET",
			url:strAjaxUrl,
			dataType:'json',
			data:{
				"page":page,
			},
			success:function(data){
				// reload div
				divHolder.innerHTML = data.html_data;
				// update url
				window.history.pushState(null,'',strChangeUrl);
			}
		})
	}
	
</script>

{% endblock %}
