{% extends "core/base.html" %}
{% block content %}

<div class = "container border border-primary rounded p-3">
	<h4 class = "text-center">Tip of the day for {{strDate}}:</h4>
	<br>
	{{modelTip}}
</div>

<br>

<div class = "container border border-primary rounded p-3">
	<a href = "{% url 'users:dm-index' %}">
		<h3 class = "text-center">Your DMs</h3>
	</a>
</div>

<br>

<div class = "container border border-primary rounded p-3">
	<h3 class = "text-center">Notifications</h3>
	{% if qsModelNotificationPost|length == 0 %}
		<p class = "text-center">All caught up!</p>
	{% else %}
		{% for modelNotificationPost in qsModelNotificationPost %}
			{% include 'core/t/tNotificationPost.html' %}
			<br>
		{% endfor %}
	{% endif %}
</div>

<br>
{% endblock content %}