{% extends "core/base.html" %}

{% block content %}
<div class = "container border border-primary rounded p-3">
	<h2 class = "text-center">Help Request Archive</h4>
</div>

<br>

<div class = "container border border-primary rounded p-3">
	<h4 class = "text-center">Your pending requests</h4>
	{% for modelHelpRequest in listmodelPendingRequests %}
		{% include "newsfeed/tHelpRequest.html" %}
	{% endfor%}
</div>

<br>

<div class = "container border border-primary rounded p-3">
	<h4 class = "text-center">Your older requests</h4>
	{% for modelHelpRequest in listmodelAcceptedRequests %}
		{% include "newsfeed/tHelpRequest.html" %}
		<br>
	{% endfor%}
</div>

{% endblock %}