{% extends "core/base.html" %}

{% block content %}

<div class = "container text-center border border-primary rounded p-3">
	<h1>Here is your newsfeed.</h1>
</div>

<br>

<div class = "container border rounded p-3">
	<h1 class = "text-center">
		<a href = "{% url 'newsfeed:help-request-prepare' %}">
			Request help.
		</a>
	</h1>
</div>

<br>
<div class = "container border rounded p-3">
	<h1 class = "text-center">
		<a href ="{% url 'newsfeed:help-request-archive-detail' %}">
			Or view your requests.
		</a>
	</h1>
</div>

<br>

<div class = "container border border rounded p-3">
	<h4>
		Recent Help Requests
	</h4>
	{% if listUnfilledHelpRequests|length == 0 %}
		<p class = "text-muted">Looks like theres nothing yet!</p>
	{% else %}
		{% for modelHelpRequest in listUnfilledHelpRequests %}

			{% include "newsfeed/t/tHelpRequest.html" %}

		{% endfor %}
	{% endif %}
</div>

<br>

<div class = "container border border rounded p-3">
	<h4>
		See what your followed users are posting.
	</h4>
	{% if listLastNFollowedUserPosts|length == 0 %}
		<p class = "text-muted">Looks like theres nothing yet!</p>
	{% else %}
		{% for modelPost in listLastNFollowedUserPosts %}
			<div class = "newsfeed__new-post border border" style="width: 50%;padding:10px;border-radius: 5px;margin-bottom:10px;">
				<a href = "{{modelPost.get_absolute_url}}">
					User  {{modelPost.author}} uploaded a post at {{modelPost.pub_date}}
				</a>
			</div>
		{% endfor %}
	{% endif %}
</div>

<br>

<div class = "container border border rounded p-3">
	<h4>
		Most recent posts today.
	</h4>
	{% if listRecentPost|length == 0 %}
		<p class = "text-muted">Looks like theres nothing yet!</p>
	{% endif %}
	{% for modelPost in listRecentPosts %}

		<div class = "newsfeed__new-post border border" style="width: 50%;padding:10px;border-radius: 5px;margin-bottom:10px;">
			<a href = "{{modelPost.get_absolute_url}}">
				User  {{modelPost.author}} uploaded a post at {{modelPost.pub_date}}
			</a>
		</div>

	{% endfor %}
</div>


{% endblock content %}

{% include 'newsfeed/t/jsHelpRequest.html' %}
