{% extends "core/base.html" %}

{% block content %}

<div class = "container border border-primary rounded">
	<h1>What would you like help with?</h1>
</div>

<br>

<div class = "container border border-primary rounded">
	<h4>Give some information on your problem.</h4>
	<form method = "POST" action = "{% url 'newsfeed:create_help_request' %}">
		{% csrf_token %}
		<h3>Title: </h3>
		<div class = "form-group">
			<label for = "title">Title your request.</label>
			<textarea name = "title" id= "textareaProblemEntry" class = "form-control" rows = 1></textarea>
			<label for = "text_content">Write about your issue.</label>
			<textarea name = "text_content" id= "textareaProblemEntry" class = "form-control" rows = 3></textarea>
		</div>

		<br>
		<label>Tags:</label>			
		<div class = "container border border-primary rounded">
			<br>
			<div class = "row">
				<div class = "col-4 text-center">
					<input name = "nutrition" class = "form-check-input" type="checkbox" id= "inlineCheckBox1">
					<label class = "form-check-label pl-2" for ="inlineCheckBox1">Nutrition</label>
				</div>
				<div class = "col-4 text-center">
					<input name = "diet" class = "form-check-input" type="checkbox" id= "inlineCheckBox2">
					<label class = "form-check-label pl-2" for ="inlineCheckBox2">Diet</label>
				</div>
				<div class = "col-4 text-center">
					<input name = "routine" class = "form-check-input" type="checkbox" id= "inlineCheckBox3">
					<label class = "form-check-label pl-2" for ="inlineCheckBox2">Routine</label>
				</div>
			</div>
			<br>
		</div>
		<br>
		<div class = "container">
			<div class = "row">
				<div>
					<button type = "submit" class = "btn btn-primary">Submit</button>
				</div>
			</div>
		</div>
	</form>

	<br>

</div>

{% endblock %}
