/*
***********************************
* General styles for core/base
***********************************
*/
.div__GLOBAL_CONTENT{
    margin:50px;
}

input[type=checkbox]{
    transform:scale(2.0);
}

/*
***********************************
* Navbar styles
***********************************
*/
#navbar__main{
    background: rgb(24,7,7);
    background: linear-gradient(90deg, rgba(24,7,7,1) 0%, rgba(179,1,1,1) 100%, rgba(88,225,2,1) 100%, rgba(0,212,255,1) 100%);
}
.navbar__main__a-tag{
    text-decoration: none;
    font-weight:bold;
    color:gainsboro;
}
.navbar__main__a-tag:hover{
    text-decoration: none;
    color:ghostwhite;
}

/*
***********************************
* Styles for Profile
***********************************
*/

.img__users-profile-img{
    width:100px;
    height:100px;
    margin-left:10px;
    margin-right:10px;
}
.div__users-profile-banner{
    border-color: rgb(216, 49, 49)
}
.div__users-profile-media{
    margin:10px;
}
.div__users-profile-media-account{
    margin-left:30px;
    margin-top:15px;
}
.div__kcal-entry{
    border-radius: 10px;
    background-color: rgb(233, 239, 255);
    margin:20px;
    padding:10px;
}
.div__users-profile-chart-container{
}