/*
***********************************
* General styles for core/base
***********************************
*/
.div__GLOBAL_CONTENT{
}

input[type=checkbox]{
    transform:scale(2.0);
}

/*
***********************************
* Navbar styles
***********************************
*/
#navbar__main{
    background: rgb(24,7,7);
    background: linear-gradient(90deg, rgba(24,7,7,1) 0%, rgba(179,1,1,1) 100%, rgba(88,225,2,1) 100%, rgba(0,212,255,1) 100%);
}
.navbar__main__a-tag{
    text-decoration: none;
    font-weight:bold;
    color:gainsboro;
}
.navbar__main__a-tag:hover{
    text-decoration: none;
    color:ghostwhite;
}

#div__GLOBAL_CONTENT{
    margin-top:2rem;
}

.spd-transition-in{
    animation: transitionIn 0.5s;
}
.spd-transition-out{
    animation: transitionOut 0.5s;
}

@keyframes transitionOut{
    from{
        opacity: 1;
        transform: rotateX(0);
    }
    to{
        opacity: 0;
        transform: rotateX(-10deg);
    }
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
