
<div class = 'container border rounded p-3 mb-2'>
	<div>
		<div class = "d-flex justify-content-between">
			<div>
				<p class = 'text-muted mb-2'>
					Date: {{modelFood.pub_date}}
				</p>
			</div>
			<div class = "d-flex justify-content-start">
				<p class = 'mr-2'>
					<a href = "{% url 'food:food-entry-detail' modelFood.id %}">
						Detail entry
					</a>
				</p>
				<p class = "p__delete-food text-danger"
					data-url = "{% url 'food:food-entry-delete' modelFood.id %}">
					Delete
				</p>
			</div>
		</div>
		<hr class = 'mb-0 mt-0'>
		<div class = 'mt-2'>
			<p>
				Meal Name: <a href = "">{{modelFood.name}}</a>
				<br>
				Kilocalorie amount: {{modelFood.kcals}}
			</p>
		</div>
	</div>
</div>