{% if qsUnfilledHelpRequests|length == 0 %}
    <p class = "text-muted text-center">
        Looks like theres nothing yet!
    </p>
{% else %}
    {% for modelHelpRequest in qsUnfilledHelpRequests %}

        {% include "newsfeed/t/help_request/help_request_thumb.html" %}

    {% endfor %}
{% endif %}
<br>
<div>
    <ul class='pagination justify-content-center'>
    {% if qsUnfilledHelpRequests.has_previous %}
        <li class="mx-1">
            <p page='{{qsUnfilledHelpRequests.previous_page_number}}' data-url='{% url "newsfeed:index" qsUnfilledHelpRequests.previous_page_number %}' onclick = "ajax_update_url(this,'div__help-requests-holder')"
            class = 'text-primary'>
                Previous
            </p>
        </li>
    {% else %}
        <li class='mx-1 disabled'>
            <span>
                Previous
            </span>
        </li>
    {% endif %}

    {% for i in qsUnfilledHelpRequests.paginator.page_range %}
        {% if qsUnfilledHelpRequests.number == i %}
        <li class='mx-1'>
            <span class = 'text-success'>
                {{ i }}
            </span>
        </li>
        {% else %}
        <li class="mx-1">
            <p page="{{i}}" data-url='{% url "newsfeed:index" i %}' onclick = "ajax_update_url(this,'div__help-requests-holder')">
                <span class = 'text-primary'>
                    {{ i }}
                </span>
            </p>
        </li>
        {% endif %}
    {% endfor %}
    
    {% if qsUnfilledHelpRequests.has_next %}
        <li class="mx-1">
            <p page="{{qsUnfilledHelpRequests.next_page_number}}" data-url='{% url "newsfeed:index" qsUnfilledHelpRequests.next_page_number %}' onclick = "ajax_update_url(this,'div__help-requests-holder')"
            class = 'text-primary'>
                Next
            </p>
        </li>
    {% else %}
        <li class="mx-1">
            <span class='disabled'>
                Next
            </span>
        </li> 
    {% endif %}
    </ul>
</div>
