<div class = "container border rounded mb-2">
    <br>
    <a href = "{% url 'communities:profile' modelHelpRequest.author.username %}">
        <img alt = "a profile picture" style="height:10%;width:10%"  class = "rounded-circle img__users-profile-img border border-dark" src = "{{modelHelpRequest.author.profile_picture.url}}">
            {{modelHelpRequest.author}}
    </a> on {{modelHelpRequest.pub_date}}
    <div class  ="container">
        <div class = "row">
            <a href = "{{modelHelpRequest.get_absolute_url}}">
                <strong>
                    "{{modelHelpRequest.title}}"
                </strong>
            </a>
        </div>
    </div>
    <div>
        {{modelHelpRequest.text}}
    </div>
    <p class = "text-muted">Related tags:</p>
    <div class = "d-flex justify-content-between mb-2">
        <div>
            {% if modelHelpRequest.get_parsed_tags %}
                {% for strTag in modelHelpRequest.get_parsed_tags %}
                    <span style= "background-color: aliceblue;" class ="rounded mr-3 p-1">
                        <a href = "{% url 'newsfeed:help-request-index-tag' strTag %}" style = "text-decoration: none;">
                            {{strTag}}
                        </a>
                    </span>
                {% endfor %}
            {% else %}
                <p>This post has no tags associated with it.</p>
            {% endif %}
        </div>
        <div>
            {% if request.user == modelHelpRequest.author %}
                <form action = "{% url 'newsfeed:help-request-delete' modelHelpRequest.id %}">
                    <button class = "btn btn-outline-danger mb-3" type="submit">
                        Delete?
                    </button>
                </form>
            {% else %}
            <br>
            <br>
            {% endif %}
        </div>
    </div>
</div>