{% extends "core/base.html" %}

{% block content %}
<div class = "container border border-primary rounded p-3">
	<h2 class = "text-center">Draft a message.</h2>
</div>

<br>

<div class = "container border border-primary rounded p-3">
	<form method = "POST" action = "">
		{% csrf_token %}
		<div class = "form-group">
			<label for = "taDmContent">Write your message to <strong>{{modelSelectedUser.username}}</strong>.</label>
			<textarea class = "form-control" name = "text" id = "taDmContent"></textarea>
		</div>
		<button class = "btn btn-outline-success">
			Submit
		</button>
	</form>
</div>

{% endblock %}