{% extends "core/base.html" %}

{% block content %}

<div class = "container border border-primary rounded p-3">
	<h2 class = "text-center">Create a DM.</h2>
</div>

<br>

{% if boolSearched %}
	<div class = "container border border-primary rounded p-3">
		<h3 class = "text-center">You searched for "{{strSearchStr}}".</h3>
		<p class = "text-center">There {{listmodelMatchedUsers|pluralize:"is,are"}} {{listmodelMatchedUsers|length}} match{{listmodelMatchedUsers|pluralize:",es"}}.</p>
	</div>
	<br>
	<div class = "container border border-primary rounded p-3">
		{% if listmodelMatchedUsers|length == 0 %}
			<p class = "text-center">
				Please try again.
			</p>
		{% else %}
			<div>
				<p>Click on a user to select them.</p>
			</div>
			{% for modelUser in listmodelMatchedUsers %}
				<a href = "{% url 'users:dm-prepare-text' modelUser.username %}">
					{% include "communities/t/tPublicProfileThumb.html" %}
				</a>
				<br>

			{% endfor %}
		{% endif %}
	</div>

	<br>

	<div class = "container border border-primary rounded p-3">
		<form method = "GET" autocomplete="off">
			{{formSearchUserForm}}
			<button class = "btn btn-outline-success" type='submit'>
				Search
			</button>
		</form>
	</div>
{% else %}
	<div class = "container border border-primary rounded p-3">
		<form method = "GET" autocomplete="off">
			{{formSearchUserForm}}
			<button class = "btn btn-outline-success" type='submit'>
				Search
			</button>
		</form>
	</div>
{% endif %}

{% endblock %}