{% extends "core/base.html" %}

{% block content %}

<div class = "container border border-primary rounded p-3">
	<form method = "POST">
		{% csrf_token %}	
		<fieldset>
			<legend>
				Log In
			</legend>
			{{form.as_p}}
		</fieldset>
		<button class="btn btn-outline-primary"  type='submit'>
			Log In
		</button>
	</form>
	<br>
</div>

<br>

<div class = "container border border-primary rounded p-3">
	<div>
		<a href = "{% url 'users:register' %}">
			Or sign up
		</a>
	</div>
</div>

{% endblock content %}