{% extends 'core/base.html' %}


{% block content %}

<h2>
	Welcome,  <strong>{{user.username}}.</strong>
</h2>

<h4>
	<a href = "{% url 'users:upload_kcals' %}">
		Upload your KCal count for today.
	</a>
</h4>

<br>

<h2>Your information:</h2>
<strong>Email:</strong> {{dictUserStats.strEmail}}
<br>
<strong>Username:</strong> {{dictUserStats.strUsername}}
<br>
<strong>Days Active:</strong> {{dictUserStats.intDaysActive}}
<br>
<strong>Points:</strong> {{dictUserStats.intPoints}}
<br>
<strong>Date joined:</strong>{{dictUserStats.strDateJoined}}
<br>

<h2>Your Diet Stats:</h2>
<strong>Standard Deviation: </strong>{{dictUserStats.floatStd}}
<br>
<strong>Mean: </strong>{{dictUserStats.floatMean}}
<br>
<strong>Median: </strong>{{dictUserStats.floatMedian}}
<br>

<h2>Your Graphs:</h2>

<h2>Your History:</h2>

	{% for modelKCal in setKCals %}


	<div class = "div__kcal-entry">
			<p><strong>Date:</strong> {{modelKCal.date}}</p>
			<p><strong>Amount:</strong> {{modelKCal.amount}}</p>
			<a href = "{% url 'users:delete_kcal' modelKCal.id %}" >
				Delete?
			</a>
	</div>
	{% endfor %}

{% endblock %}