{% extends 'core/base.html' %}


{% block content %}

<div style="align-items:flex-start;" class = "container border border-primary rounded p-3">
	<div style="display:inline-flex" >
		<img class = "rounded-circle" style="height:6.5rem;width:6.5rem;" src = "{{user.profile_picture.url}}">
		<div class = "div__users-profile-media-account">
			<h2 class = "account-heading">
				Welcome,  <strong>{{user.username}}.</strong>
			</h2>
			{% if user.is_pod_plus_member %}
				<p style="color:gold;">
					<strong>
						POD+ Member
					</strong>
				</p>
			{% endif %}
		</div>
	</div>
</div>

<br>

<div class = "container border border rounded p-3">
	<a href = "{% url 'users:dm-index' %}">
		<h3 class = "text-center">
			Your DMs
		</h3>
	</a>
</div>

<br>

<div class = "container border border rounded p-3">
	<a href = "{% url 'food:index' %}">
		<h3 class = "text-center">
			Your Diet Center
		</h3>
	</a>
</div>

<br>

<div class = "container border border rounded p-3">
	<a href = "{% url 'fitness:index' %}">
		<h3 class = "text-center">
			Your Fitness Center
		</h3>
	</a>	
</div>

<br>

<div class = "container border border rounded p-3">
	<div>
		<h2 class = "text-center">
			Your Information
		</h2>
		<a href = "{% url 'users:profile-edit-prepare' %}">
			<p class = 'text-center'>
				Edit Information
			</p>
		</a>
		<a href = "{{user.get_public_profile_url}}">
			<p class = 'text-center'>
				See public profile
			</p>
		</a>
	</div>
	<hr>
	<strong>Email:</strong> {{dictUserStats.strEmail}}
	<br>
	<strong>Username:</strong> {{dictUserStats.strUsername}}
	<br>
	<strong>Days Active:</strong> {{dictUserStats.intDaysActive}}
	<br>
	{% if user.is_pod_plus_member %}
		<strong>Points:</strong> {{dictUserStats.intPoints}}
		<br>
	{% endif %}
	<strong>Date joined:</strong> {{dictUserStats.strDateJoined}}
	<br>
	<strong>About You:</strong> "{{dictUserStats.strAbout}}"
</div>

<br>

<div class = "container border border rounded pb-5 pt-1">
	<div class = "container p-3 text-center">
		<h4>Follow count: {{user.follows.count}}</h4>
	</div>
	{% for modelUser in listFollowedUsers %}
		<div class = "border rounded p-3 mb-2">
			<a href = "{{modelUser.get_public_profile_url}}">
				<img class = "rounded-circle img__users-profile-img" src = "{{modelUser.profile_picture.url}}">
				{{modelUser.username}}
			</a>
		</div>
	{% endfor %}
</div>


{% endblock %}
