{% extends 'core/base.html' %}

{% block content %}

{% if modelHelpRequest.boolWasRespondedTo %}

	<div class = "container border rounded p-3">
		<h4>This request has been filled by user <strong>{{modelHelpRequestOffer.author.username}} on {{modelHelpRequest.accept_date}}.</strong></h4>
	</div>

{% else %}
	<div class = "container border rounded p-3">
		<h3 class = 'text-center'>
			Help Offer for 
			<a href = "{% url 'newsfeed:help-request-detail' modelHelpRequest.author.username modelHelpRequest.slug %}">
				{{modelHelpRequest.title}}
			</a>
		</h3>
		<div class = 'd-flex justify-content-between'>
			<div>
				<p>
					Author: <a href = "{{modelHelpRequestOffer.author.get_public_profile_url}}">{{modelHelpRequestOffer.author}}</a>
				</p>
			</div>
			<div>
				<p>
					Date: {{modelHelpRequestOffer.pub_date}}
				</p>
			</div>
		</div>
		<hr class = "mb-2 mt-1">
		<div>
			<p class = "text-muted mb-0">
				Offer description:
			</p>
			<p>
				{{modelHelpRequestOffer.text}}
			</p>
		</div>
	</div>

	<br>

	<div class = "container border rounded p-3">
		<h3 class = 'text-center'>
			{{modelHelpRequestOffer.author.username}}'s community history:
		</h3>
		<div class = "container border rounded">
			put stuff on how their stats like percentage accepted / percentage helped
		</div>	
	</div>

	<br>

	<div class = "container border rounded p-3">
		<h4>Accept offer?</h4>
		<div class = "container row">
			<a href = "{% url 'newsfeed:help-request-offer-accept' modelHelpRequest.author.username modelHelpRequest.slug modelHelpRequestOffer.id %}">
				<button id = "btn__accept" class = "btn btn-outline-success mr-3">Accept</button>
			</a>
			<a href = "{% url 'newsfeed:help-request-offer-reject' modelHelpRequest.author.username modelHelpRequest.slug modelHelpRequestOffer.id %}">
				<button id = "btn__reject" class = "btn btn-outline-danger">Reject</button>
			</a>
		</div>
	</div>
{% endif %}

{% endblock content %}

{% block javascript %}
<script>

function accept_validate(strUrl){

}
function reject_validate(strUrl){

}

let btnAcceptBtn = document.getElementById("btn__accept");
let btnRejectBtn = document.getElementById('btn__reject');

btnAcceptBtn.addEventListener("click",()=>{
	accept_validate(btnAcceptBtn.getAttribute("data-url"));
})
btnRejectBtn.addEventListener("click",()=>{
	reject_validate(btnRejectBtn.getAttribute('data-url'));
})

</script>
{% endblock javascript %}